<h1>all anecdotes</h1>

<p><%= link_to "+ contribute", new_anecdote_path %></p>

<div class="anecdotes">
    <% @anecdotes.each do |anecdote| %>
        <% @theme = 'default' %>
        <% if anecdote.user_id.present? %>
            <% anecdote_user = User.find anecdote.user_id %>
            <% if anecdote_user.theme.present? 
                theme = anecdote_user.theme
                @theme = theme.name
            end %>
        <% end %>
        <div class="anecdote <%= @theme %>">
            <h3><%= anecdote.title %></h3>
            <p>"<%= anecdote.content %>"</p>
            <p><%= anecdote.get_upvotes.size %></p>
            <%= link_to "^", like_anecdote_path(anecdote), method: :put %>
            <p>Downvotes <%= pluralize(number_to_human(anecdote.get_downvotes.size), 'Downvote') %></p>
            <%= link_to "Downvote", dislike_anecdote_path(anecdote), method: :put %>
            <div class="bottom">
                <div class="tags">
                    <% anecdote.tags.each do |tag| %>
                        <div class="tag">
                            <%= tag.name %>
                        </div>
                    <% end %>
                </div>
                <% if @current_user.present? %>
                    <% if @current_user.id == anecdote.user_id or @current_user.admin? %>
                        <div class="controls">
                            <div class="edit"><%= link_to 'edit', edit_anecdote_path(anecdote) %></div>
                            <div class="delete"><%= link_to 'delete', anecdote, :method => 'delete', :data => { :confirm => 'are you sure?' } %></div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
