<br>
<% @theme = 'default' %>
<% if @anecdote.user_id.present? %>
    <% anecdote_user = User.find @anecdote.user_id %>
    <% if anecdote_user.theme.present? 
        @theme = anecdote_user.theme.name
    end %>
<% end %>
<% if @current_user.present? %>
    <% if @current_user.voted_for? @anecdote %>
        <% @opaque = "opaque" %>
    <% else @opaque = "" %>
    <% end %>
<% end %>
<div class="anecdote anecdote-show <%= @theme %>">
    <div class="top-g">
        <h2 class="top"><%= @anecdote.title %></h2>
        <div class="hearts <%= @opaque %>">
            <p><%= @anecdote.get_upvotes.size %></p>
            <%= link_to like_anecdote_path(@anecdote), method: :put do %>
                <%= image_tag "heart.png", alt: "heart", :class => 'icon' %>
            <% end %>
        </div>
    </div>
    <p>"<%= @anecdote.content %>"</p>

    <div class="bottom">
        <div class="tags">
            <% @anecdote.tags.each do |tag| %>
                <div class="tag zero-six-opacity">
                    <%= tag.name %>
                </div>
            <% end %>
        </div>
        <% if @current_user.present? %>
            <% if @current_user.id == @anecdote.user_id or @current_user.admin? %>
                <div class="controls">
                    <div class="edit"><%= link_to 'edit', edit_anecdote_path(@anecdote) %></div>
                    <div class="delete"><%= link_to 'delete', @anecdote, :method => 'delete', :data => { :confirm => 'confirm' } %></div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<br>
<% if @current_user.present? %>
    <div class="centered">
        <%= form_with(model: [@anecdote, @anecdote.comments.build], local: true) do |f| %>
        <div class="comment-input-field">
            <%= f.label '+reply' %>
            <%= f.text_area :content, class: 'comment-input', :required => true, :maxlength => 560 %>
        </div>
        <%= f.submit 'comment', class: 'submit reload', :"data-no-turbolink" => "true" %>
        <% end %>
    </div>
<% end %>

<% unless @comments.empty? %>
    <div class="comments centered border-top">
        <h2>comments</h2>

        <% @comments.each do |comment| %>
            <% hidden_field(:comment, :id) %>
            <% unless comment.id.nil? %>
                <% @theme = 'default' %>
                <% comment_user = User.find comment.user_id %>
                <% if comment_user.theme.present? 
                    theme = comment_user.theme
                    @theme = theme.name
                end %>
                <div class="comment <%= @theme %>" name="<%= comment.id %>">
                    <div class="content">
                        <% comment_user = User.find comment.user_id %>
                        <h3><%= comment_user.username %></h3>
                        <p>"<%= comment.content %>"</p>
                    </div>
                    <% if @current_user.present? %>
                        <% if @current_user.id == comment.user_id or @current_user.admin? %>
                            <div class="delete-comment"><%= link_to 'delete', anecdote_comment_path(@anecdote.id, comment.id), method: :delete %></div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
<% end %>