<%= form_for @current_user do |f| %>
    <div class="centered">
        <div class="sort-box">
            <h3 class="small-marge">sort</h3>
            <div class="tags-checks small-marge">
                <label class="sort">
                    top
                    <%= f.radio_button :sort, 'top' %>
                </label>
                <label class="sort">
                    new
                    <%= f.radio_button :sort, 'new' %>
                </label>
            </div>
        </div>

        <h2 class ="tags-title">tags</h2>
        <p>follow/unfollow tags to customise your feed</p>
        <div class="tags-checks">
            <%= f.collection_check_boxes(:tag_ids, Tag.all.order(:name), :id, :name, { hide_label: true }) do |b|
                b.label(:"data-value" => b.value) { b.check_box + b.text }
                end %>
        </div>

        <div class="themes">
            <h2>themes</h2>
            <p>a personal theme that applies to only your posts</p>
            <% @themes.each do |theme| %>
                <label class="theme <%= theme.name %>">
                    <p><%= theme.name %></p>
                    <%= f.radio_button :theme, theme.name %>
                </label>
            <% end %>
            <br>
            </br>
        </div>

        <%= f.submit 'save', :class => 'submit' %>      

    </div>
<% end %>