<%= form_for @current_user do |f| %>
    <div class="centered">
        <h2>tags</h2>
        <p>follow/unfollow tags to customise your feed</p>
        <div class="tags-checks">
            <%= f.collection_check_boxes(:tag_ids, Tag.all.order(:name), :id, :name, { hide_label: true }) do |b|
                b.label(:"data-value" => b.value) { b.check_box + b.text }
                end %>
        </div>

        <div class="themes">
            <h2>themes</h2>
            <p>a personal theme that applies to only your anecdotes</p>
            <% @themes.each do |theme| %>
                <label class="theme <%= theme.name %>">
                    <%= theme.name %>
                    <%= f.radio_button :theme, theme.name %>
                </label>
            <% end %>
            <br>
            </br>
        </div>

        <%= f.submit 'save', :class => 'submit' %>      

    </div>
<% end %>