<h1>welcome<% if @current_user.present? %>,
        <%= @current_user.username %>
        <%= link_to "-all users", users_path if @current_user.admin? %>
    <% end %>
</h1>

<% unless @current_user.present? %>
    <div class="border-bottom">
        <p><strong>anecdote</strong> - noun /ˈanɪkdəʊt/ : a short amusing or interesting story about a real incident or person.</p>

        <p>get something off your chest, express your emotions, share some advice, tell a funny story, or tell us about your pet. anything goes. ana is a web-app designed to provide a medium for people to express themselves, to be exposed to anecdotes from other people's lives and to not feel alone in what we going through.</p>
        
        <ul>
            <li><%= link_to 'create an account', new_user_path %> and <%= link_to 'follow tags' %> to customise your feed.</li>

            <li><%= link_to 'share an anecdote', anecdotes_path %> to contribute to this sites' ana and have your story shared with the world.</li>

            <li><%= link_to 'generate an ana', new_ana_path %> to combine a selection of anecdotes based on your choosing of contextual <%= link_to 'tags', tags_path %>.</li>
        </ul>
        <br>
    </div>
    <br>

    <h2 class="inline">all anecdotes </h2><p class="inline">sort by: new<p>
    <div class="anecdotes">
        <% @anecdotes.each do |anecdote| %>
            <% @theme = 'default' %>
            <% if anecdote.user_id.present? %>
                <% anecdote_user = User.find anecdote.user_id %>
                <% if anecdote_user.theme.present? 
                    theme = anecdote_user.theme
                    @theme = theme.name
                end %>
            <% end %>
            <div class="anecdote <%= @theme %>">
                <h3><%= anecdote.title %></h3>
                <p>"<%= anecdote.content %>"</p>
                <div class="bottom">
                    <div class="tags">
                        <% anecdote.tags.each do |tag| %>
                            <div class="tag">
                                <%= tag.name %>
                            </div>
                        <% end %>
                    </div>
                    <% if @current_user.present? %>
                        <% if @current_user.id == anecdote.user_id or @current_user.admin? %>
                            <div class="controls">
                                <%= link_to 'edit', edit_anecdote_path(anecdote) %>
                                <%= link_to 'delete', anecdote, :method => 'delete', :data => { :confirm => 'are you sure?' } %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>

<% if @current_user.present? %>
    <h2 class="border-bottom"><%= link_to 'generate your ana for the day', new_ana_path %>
    <br>
    </br>
    </h2>
    
    <h2>your feed</h2>
    <%unless @current_user.tags.empty? %>
        <h3 class="inline">followed tags:</h3>
        <% @current_user.tags.each do |tag| %>
            <div class="tag">
                <%= tag.name %>
            </div>
        <% end %>
        <br>
        <p>sort by: new<p>
        <div class="anecdotes">
            <% @unique_anecdotes.each do |anecdote|  %>
                <% @theme = 'default' %>
                <% if anecdote.user_id.present? %>
                    <% anecdote_user = User.find anecdote.user_id %>
                    <% if anecdote_user.theme.present? 
                        theme = anecdote_user.theme
                        @theme = theme.name
                    end %>
                <% end %>
                <div class="anecdote <%= @theme %>">
                    <div class="top">
                        <h3><%= anecdote.title %></h3>
                        <%= link_to anecdote do %>
                            <%= image_tag "comment.png", :class => 'comment-icon' %>
                        <% end %>
                    </div>
                    <p>"<%= anecdote.content %>"</p>
                    <div class="bottom">
                        <div class="tags">
                            <% anecdote.tags.each do |tag| %>
                                <div class="tag">
                                    <%= tag.name %>
                                </div>
                            <% end %>
                        </div>
                        <% if @current_user.present? %>
                            <% if @current_user.id == anecdote.user_id or @current_user.admin? %>
                                <div class="controls">
                                    <div class="edit"><%= link_to 'edit', edit_anecdote_path(anecdote) %></div>
                                    <div class="delete"><%= link_to 'delete', anecdote, :method => 'delete', :data => { :confirm => 'are you sure?' } %></div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <% if @unique_anecdotes.empty? %>
            <p>there are currently no anecdotes associated with the tags you follow.</p>
        <% end %>
    <% end %>
    <% if @current_user.tags.empty? %>
        <p>you are not following any tags, please follow some <%= link_to 'tags', edit_user_path(@current_user) %> to populate your feed.</p>
    <% end %>
<% end %>

