<h1><%= @ana.title %></h1>

<div class="ana">    
    <div class="ana-title-content">
        <h3>
            <%= @ana.title %>
        </h3>
        <p>dear <%= @current_user.username if @current_user.present? %>,</p>
        <% @ana.anecdotes.each do |content| %>
            <p>
                "<%= content.content %>"
            </p>
        <% end %>
        <p>sincerely, ana</p>
    </div>
    <div class="tags">
        <% @ana.tags.each do |tag| %>
            <div class="tag"><%= tag.name %></div>
        <% end %>
    </div>
</div>