<!DOCTYPE html>
<html>
  <head>
    <title>ana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('a.png') %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <h1>ana</h1>
          <p class="definition">noun /ˈɑːnə/ : a collection of anecdotes, or memorable sayings.</p>
        </div>
        <div class="links">
          <% if @current_user.present? %>
            <% @theme = "default" %>
            <% if @current_user.theme.present? %>
              <% @theme = @current_user.theme.name %>
            <% end %>
            <div class="user <%= @theme %>">
              <%= link_to @current_user.username, edit_user_path(@current_user) %>
            </div>
          <% end %>
          <%= link_to 'home', root_path %>
          <%= link_to 'anecdotes', anecdotes_path %>
          <%= link_to 'tags', tags_path %>
          <% if @current_user.present? %>
            <%# link_to "Contributions", user_path %>
            <%= link_to "logout", login_path, :method => 'delete' %>
          <% else%>
            <%= link_to 'sign up', new_user_path %>
            <%= link_to 'sign in', login_path %>
          <% end %>
        </div>
      </nav>
      <div class="space"></div>
      <%= yield %>
    </div>  
  </body>
</html>
