<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <h1>ana</h1>
          <p class="definition">noun /ˈɑːnə/ : a collection of memorable sayings, or anecdotes.</p>
        </div>
        <div class="links">
          <%= @current_user.username if @current_user.present? %>
          <%= link_to 'home', root_path %>
          <%= link_to 'anas', anas_path %>
          <%= link_to 'anecdotes', anecdotes_path %>
          <% if @current_user.present? %>
            <%= link_to "all users", users_path if @current_user.admin? %>
            <%# link_to "Contributions", user_path %>
            <%= link_to "logout", login_path, :method => 'delete' %>
          <% else%>
            <%= link_to 'sign up', new_user_path %>
            <%= link_to 'sign in', login_path %>
          <% end %>
        </div>
      </nav>
      <div class="space"></div>
      <%= yield %>
    </div>  
  </body>
</html>
